[versions]
kotlin = "2.2.21"

[libraries]
plugin-agp = { module = "com.android.tools.build:gradle", version = "8.13.0" }
plugin-kotlin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
plugin-kover = { module = "org.jetbrains.kotlinx:kover-gradle-plugin", version = "0.9.3" }
plugin-powerAssert = { module = "org.jetbrains.kotlin:kotlin-power-assert", version.ref = "kotlin" }
test-junit = { module = "junit:junit", version = "4.13.2" }
test-kotlin-common = { module = "org.jetbrains.kotlin:kotlin-test-common", version.ref = "kotlin" }
test-kotlin-junit = { module = "org.jetbrains.kotlin:kotlin-test-junit", version.ref = "kotlin" }
test-testParameterInjector = { module = "com.google.testparameterinjector:test-parameter-injector", version = "1.19" }

[plugins]
androidCacheFix = { id = "org.gradle.android.cache-fix", version = "3.0.3" }
compose = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
dependencySort = { id = "com.squareup.sort-dependencies", version = "0.15" }
detekt = { id = "io.gitlab.arturbosch.detekt", version = "1.23.8" }
dokka = { id = "org.jetbrains.dokka", version = "2.1.0" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
ktlint = { id = "org.jlleitschuh.gradle.ktlint", version = "13.1.0" }
licensee = { id = "app.cash.licensee", version = "1.14.1" }
publish = { id = "com.vanniktech.maven.publish", version = "0.34.0" }
publishReport = { id = "io.github.gmazzo.publications.report", version = "1.3.3" }
spotless = { id = "com.diffplug.spotless", version = "8.0.0" }
