[versions]
kotlin = "2.0.21"

[plugins]
dependencyAnalysis = { id = "com.autonomousapps.dependency-analysis", version = "3.5.1" }
dependencyGuard = { id = "com.dropbox.dependency-guard", version = "0.5.0" }
detekt = { id = "io.gitlab.arturbosch.detekt", version = "1.23.8" }
dokka = { id = "org.jetbrains.dokka", version = "2.0.0" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
publish = { id = "com.vanniktech.maven.publish", version = "0.35.0" }
publishReport = { id = "io.github.gmazzo.publications.report", version = "1.3.3" }
