name: ktfmt

on:
  push:
    paths:
      - "**.kt"
      - "**.kts"
      - "scripts/ktfmt.sh"
      - "gradle/libs.versions.toml"

permissions:
  contents: read
  pull-requests: read

jobs:
  ktfmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version-file: .java-version
          distribution: "zulu"

      - name: Run ktfmt check
        run: scripts/ktfmt.sh check
