name: Publish snapshot

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write
  checks: write

# This ensures publish jobs run sequentially instead of in parallel
concurrency:
  group: publish
  cancel-in-progress: false

jobs:
  publish-snapshot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version-file: .java-version
          distribution: "zulu"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
        with:
          add-job-summary: on-failure
          cache-read-only: false
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Get version
        id: version
        run: |
          GRADLE_VERSION="$(grep VERSION_NAME gradle.properties | cut -d "=" -f 2)"
          echo "GRADLE_VERSION=$GRADLE_VERSION"
          echo "value=$GRADLE_VERSION" >> "$GITHUB_OUTPUT"

      - name: Publish snapshot
        if: |
          github.repository == 'jonapoul/blueprint' &&
          github.ref == 'refs/heads/main' &&
          contains(steps.version.outputs.value, '-SNAPSHOT')
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_IN_MEMORY_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_KEY_PASSWORD }}
        run: ./gradlew publishToMavenCentral --no-configuration-cache
